// Color
$blackColor: #1c1d1f;
$blackMediumColor: #393b3f;
$blackLightColor: #3e4143;
$grayColor: #6a6f73;
$grayDarkColor: #3d3c0a;
$yellowLightColor: #eceb98;
$orangeLightColor: #f3ca8c;
$browColor: #b4690e;
$browMediumColor: #e59819;
$browDarkColor: #4d3105;
$shadowColor: #d1d7dc;
$whiteColor: #ffffff;
$whiteHoverColor: #e0e0e0;
$lightColor: #f7f9fa;
$purpleDarkColor: #5624d0;
$purpleHoverColor: #401b9c;
$purpleDarkMediumColor: #8710d8;
$purpleMediumColor: #a435f0;
$purpleLightColor: #cec0fc;
$greenLight: #acd2cc;
$greenColor: #1e6055;
$greenDark: #113731;
