@font-face {
  font-family: "SuisseWorks";
  font-style: normal;
  font-weight: 700;
  src: url("../../public/fonts/SuisseWorks-Bold-v1.woff2") format("woff2");
}
@font-face {
  font-family: "Academy-Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../../public/fonts/Academy-Sans-Bold-v1.woff2") format("woff2");
}
@font-face {
  font-family: "Academy-Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../../public/fonts/Academy-Sans-Regular-v1.woff2") format("woff2");
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
@media (max-width: 768px) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: #1c1d1f;
}

.container-lg {
  max-width: 134rem;
  margin: 0 auto;
}
@media (max-width: 423px) {
  .container-lg {
    min-width: 100%;
  }
}

.container-ml {
  max-width: 118.4rem;
  margin: 0 auto;
}

.heading-big {
  font-family: "SuisseWorks", Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 1.25;
  letter-spacing: -0.05rem;
  color: #1c1d1f;
  padding: 4.8rem 0;
}
@media (max-width: 768px) {
  .heading-big {
    padding: 2.4rem 0;
  }
}

.heading-second {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.25;
  letter-spacing: -0.05rem;
  color: #1c1d1f;
  padding-bottom: 1.6rem;
}
@media (max-width: 768px) {
  .heading-second {
    margin-top: 2.4rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

a,
button {
  border: 0;
  outline: 0;
  cursor: pointer;
}

.slick-arrow::before {
  display: none !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    transform-origin: center;
  }
}
.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  min-width: 17.3rem;
  position: relative;
  margin: 0 0.8rem;
  z-index: 0;
  background-color: white;
}
.card:first-child {
  margin-left: 0;
}
.card:last-child {
  margin-right: 0;
}
.card--ml {
  max-width: calc((100% - 3.2rem) / 3);
}
.card--row {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.6rem;
  flex-wrap: wrap;
}
.card--column {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 0;
  flex-direction: column;
}
.card--column .card__content {
  position: relative;
  top: auto;
  left: auto;
  transform: translateY(0);
  padding: 0;
}
.card__thumbnail {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.card__thumbnail img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.card__content {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: #1c1d1f;
  width: 100%;
  max-width: 44rem;
  position: absolute;
  top: 50%;
  left: 7.2rem;
  padding: 2.4rem;
  transform: translateY(-50%);
  background-color: #ffffff;
}
.card__content--heading {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #393b3f;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 0.4rem;
  padding-top: 0.8rem;
}
.card__content--desc {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: #1c1d1f;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.card__content--text {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: #6a6f73;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.card__content--number {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #b4690e;
}
.card__content--price {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #1c1d1f;
  margin-bottom: 0.8rem;
}
.card__content--info {
  padding: 0.4rem 0;
}
.card__content-rate {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.4rem;
  margin: 0.4rem 0;
}
.card__content-stars {
  font-size: 1.2rem;
  color: #e59819;
}
.card__popover {
  position: absolute;
  top: 0;
  background-color: red;
}
.card__badge--new, .card__badge--bestseller, .card__badge--highest-sell {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: #1c1d1f;
  font-weight: 700;
  display: inline-block;
  padding: 0.4rem 0.8rem;
  white-space: nowrap;
  color: #4d3105;
}
.card__badge--new {
  color: #113731;
  background-color: #acd2cc;
}
.card__badge--bestseller {
  color: #3d3c0a;
  background-color: #eceb98;
}
.card__badge--highest-sell {
  color: #4d3105;
  background-color: #f3ca8c;
}

.my-learning__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding-bottom: 2.4rem;
}
@media (max-width: 576px) {
  .my-learning__top {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 0.8rem;
    flex-direction: column;
  }
}
.my-learning__top .heading-big {
  padding: 0;
}
.my-learning__top--btn {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #5624d0;
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #5624d0;
  background-color: transparent;
  text-decoration: underline;
  text-underline-offset: 0.4rem;
}
.my-learning__top--btn:hover {
  color: #401b9c;
}
.my-learning__slider {
  width: 100%;
  position: relative;
}
.my-learning__list {
  width: 100%;
}
.my-learning .slick-track {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 0;
}
.my-learning__item {
  margin: 0 0.8rem;
  min-width: 12rem;
  width: 42rem;
  border: 1px solid #d1d7dc;
}
.my-learning__item:first-child {
  margin-left: 0;
}
.my-learning__item:last-child {
  margin-right: 0;
}
.my-learning .slick-initialized .slick-slide {
  display: flex;
}
.my-learning .slick-arrow::before {
  display: none;
}
.my-learning .slick-disabled {
  display: none !important;
}
.my-learning__item:not(.my-learning__reminder) {
  cursor: pointer;
}
.my-learning__item:hover:not(.my-learning__reminder) .my-learning__content {
  background-color: #f7f9fa;
}
.my-learning__reminder {
  position: relative;
}
.my-learning__reminder--times {
  position: absolute;
  top: 0.8rem;
  right: 1.4rem;
  font-size: 1.8rem;
}
.my-learning__reminder .my-learning__thumbnail {
  overflow: visible;
}
.my-learning__reminder .my-learning__thumbnail::after {
  display: none;
}
.my-learning__reminder .my-learning__thumbnail img {
  height: 15rem;
  width: 12rem;
  object-fit: contain;
  padding: 0.8rem;
}
.my-learning__thumbnail {
  height: 15rem;
  width: 12rem;
  position: relative;
}
.my-learning__thumbnail::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(28, 29, 31, 0.5);
}
.my-learning__thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.my-learning__thumbnail--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.4rem;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 9999px;
  background-color: #ffffff;
  z-index: 2;
}
.my-learning__content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 0;
  flex-direction: column;
  flex: 1;
  padding: 1.6rem;
}
.my-learning__content--heading {
  margin-top: 0.8rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.my-learning__content--sub-heading {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #6a6f73;
  font-size: 1.2rem;
  margin-right: 1.6rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.my-learning__reminder .my-learning__content {
  display: block;
}
.my-learning__reminder .my-learning__content--text {
  padding: 0.8rem 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.my-learning__reminder .my-learning__content--btn {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #5624d0;
}
.my-learning__lecture-progress {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: #6a6f73;
}
.my-learning__lecture-progress--bold {
  font-weight: 700;
}
.my-learning__btn-control {
  position: absolute;
  z-index: 2;
  border: 0;
  padding: 0;
  min-width: 4.8rem;
  height: 4.8rem;
  border: 1px solid #6a6f73;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 999px;
  background-color: #1c1d1f;
}
.my-learning__btn-control:hover {
  background-color: #393b3f;
}
.my-learning__btn-prev {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
  .my-learning__btn-prev {
    transform: translate(-30%, -50%);
  }
}
.my-learning__btn-next {
  right: 0;
  top: 50%;
  transform: translate(50%, -50%) rotate(180deg);
}
@media (max-width: 768px) {
  .my-learning__btn-next {
    transform: translate(30%, -50%);
  }
}
.my-learning .slider__arrow {
  background-color: transparent;
}
.my-learning__training-people {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  margin-top: 4.8rem;
  padding: 1.6rem;
  color: #ffffff;
  background-color: #1c1d1f;
}
.my-learning__training-people--text {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: #ffffff;
}
.my-learning__training-people--text span {
  font-weight: 700;
}
@media (max-width: 768px) {
  .my-learning__training-people {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.8rem;
    flex-direction: column;
  }
}
.my-learning__training-people-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
}
.my-learning__training-people-btn a {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #1c1d1f;
  min-width: 8rem;
  padding: 0 1.2rem;
  height: 4.8rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: bottom;
  white-space: nowrap;
  cursor: pointer;
}
.my-learning__training-people-btn button {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  min-width: 8rem;
  padding: 0 1.2rem;
  height: 4.8rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid #ffffff;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: bottom;
  white-space: nowrap;
  cursor: pointer;
}
.my-learning__training-people-btn button:hover {
  background-color: rgba(255, 255, 255, 0.08);
}
.my-learning__training-people-btn a,
.my-learning__training-people-btn button {
  font-size: 1.4rem;
}
@media (max-width: 768px) {
  .my-learning__training-people-btn a,
  .my-learning__training-people-btn button {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .my-learning__training-people-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.8rem;
    flex-direction: column;
    width: 100%;
  }
}

.slider {
  width: 100%;
  position: relative;
  z-index: 1;
  padding-bottom: 4.8rem;
}
@media (max-width: 768px) {
  .slider {
    padding-bottom: 0;
  }
}
.slider--heading {
  font-family: "SuisseWorks", Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 1.25;
  letter-spacing: -0.05rem;
  color: #1c1d1f;
  margin-bottom: 0.8rem;
}
.slider--text {
  width: 100%;
  max-width: 80rem;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.slider--text a {
  color: #5624d0;
}
.slider__btn {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #5624d0;
  display: inline-block;
  text-decoration: underline;
  text-underline-offset: 0.4rem;
  padding-left: 0.8rem;
}
.slider__wrapper {
  position: relative;
}
@media (max-width: 768px) {
  .slider__wrapper-one .slick-arrow {
    display: none !important;
  }
}
.slider__list {
  width: 100%;
  overflow: hidden;
}
.slider__list-five, .slider__list-four {
  display: flex;
}
.slider__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  position: relative;
  background-color: white;
  cursor: pointer;
}
.slider__item--column {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0;
  flex-direction: column;
}
.slider__item--column .slider__content {
  position: relative;
  top: auto;
  left: auto;
  transform: translateY(0);
  padding: 0;
  display: -webkit-flex;
}
.slider__thumbnail {
  width: 100%;
  overflow: hidden;
}
.slider__thumbnail img {
  width: 100%;
  object-fit: cover;
}
.slider__content {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: #1c1d1f;
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 7.2rem;
  z-index: 1;
  width: 100%;
  max-width: 44rem;
  padding: 2.4rem;
  transform: translateY(-50%);
  background-color: #ffffff;
}
@media (max-width: 768px) {
  .slider__content {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    max-width: 100%;
    transform: translateY(0);
  }
}
.slider__content--heading {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #393b3f;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding-top: 0.8rem;
  padding-bottom: 0.4rem;
}
.slider__content--text {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: #393b3f;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.slider__wrapper-one .slider__arrow {
  width: 4rem;
  height: 4rem;
}
.slider__arrow {
  color: #ffffff;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.slider .slick-arrow {
  font-size: 2.4rem;
  z-index: 2;
}
.slider .slick-arrow::before {
  display: none !important;
}
.slider .slick-arrow i {
  background-color: #1c1d1f;
}
.slider .slick-arrow i:hover {
  background-color: #393b3f;
}
.slider .slick-prev {
  left: 1.6rem;
  color: #ffffff;
}
.slider .slick-next {
  right: 1.6rem;
  color: #ffffff;
  transform: rotate(180deg);
}
.slider__btn-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  position: absolute;
  top: 50%;
  z-index: 2;
  border: 0;
  padding: 0;
  min-width: 4.8rem;
  min-height: 4.8rem;
  border: 1px solid #6a6f73;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 999px;
  background-color: #1c1d1f;
  font-size: 2.4rem;
}
.slider__btn-control:hover {
  background-color: #393b3f;
}
.slider__wrapper-five .slider__btn-control, .slider__wrapper-four .slider__btn-control {
  top: 25%;
}
.slider__wrapper-five .slick-track, .slider__wrapper-four .slick-track {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 0;
}
.slider__wrapper-five .slider__list, .slider__wrapper-four .slider__list {
  overflow: visible;
}
.slider__wrapper-five .slider__arrow, .slider__wrapper-four .slider__arrow {
  width: 100%;
  height: 100%;
  background-color: #1c1d1f;
}
.slider__wrapper-five .slider__arrow:hover, .slider__wrapper-four .slider__arrow:hover {
  background-color: #393b3f;
}
.slider__wrapper-five .slick-disabled, .slider__wrapper-four .slick-disabled {
  display: none !important;
}
.slider .slick-disabled {
  display: none !important;
}
.slider__btn-prev {
  left: 0;
  transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
  .slider__btn-prev {
    transform: translate(-30%, -50%);
  }
}
.slider__wrapper-five .slider__btn-prev, .slider__wrapper-four .slider__btn-prev {
  left: 0;
  transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
  .slider__wrapper-five .slider__btn-prev, .slider__wrapper-four .slider__btn-prev {
    transform: translate(-30%, -50%);
  }
}
.slider__btn-next {
  right: 0;
  transform: translate(50%, -50%) rotate(180deg);
}
@media (max-width: 768px) {
  .slider__btn-next {
    transform: translate(30%, -50%) rotate(180deg);
  }
}
.slider__wrapper-five .slider__btn-next, .slider__wrapper-four .slider__btn-next {
  right: 0;
  transform: translate(50%, -50%) rotate(180deg);
}
@media (max-width: 768px) {
  .slider__wrapper-five .slider__btn-next, .slider__wrapper-four .slider__btn-next {
    transform: translate(30%, -50%) rotate(180deg);
  }
}
.slider__btn-none {
  display: none;
}
.slider__occupation-unit {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.8rem;
  padding-bottom: 1.6rem;
}

.drawer {
  position: relative;
}
.drawer--title {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #6a6f73;
  padding: 1.6rem 1.6rem 0;
}
.drawer--text {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: #1c1d1f;
  text-align: left;
}
.drawer__line {
  display: block;
  width: 100%;
  height: 0.8px;
  background-color: #d1d7dc;
}
.drawer__side-wrapper {
  position: fixed;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  z-index: 9999;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #ffffff;
  padding-bottom: 3.2rem;
  background-color: #ffffff;
  height: 100vh;
  transform: translateX(-100%);
  transition: 0.3s;
}
.drawer__side {
  width: 28rem;
}
.drawer__side-btn, .drawer__level-2--btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  width: 100%;
  background-color: #f7f9fa;
}
.drawer__learn, .drawer__side-btn, .drawer__level-2--btn, .drawer__link, .drawer__level-2-link {
  padding: 0.8rem 1.6rem;
}
.drawer__btn {
  display: none;
  padding: 0.8rem 0;
}
.drawer__btn .drawer__link {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: #5624d0;
}
.drawer__user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  width: 100%;
  padding: 0.8rem 0;
  background-color: #f7f9fa;
}
.drawer__user--name {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #1c1d1f;
}
.drawer__user--welcome {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: #6a6f73;
}
.drawer__user-avatar {
  width: 6.2rem;
  height: 6.2rem;
  border-radius: 9999px;
  border: 1px solid #d1d7dc;
}
.drawer__user-content {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 0;
  flex-direction: column;
  flex: 1;
  margin-left: 1.6rem;
}
.drawer__icon-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 2rem;
  height: 2rem;
}
.drawer__link, .drawer__level-2-link {
  display: block;
}
.drawer__list {
  list-style: none;
  padding: 0.8rem 0;
}
.drawer__list .drawer__side-btn {
  background-color: transparent;
}
.drawer__btn-language {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #1c1d1f;
  min-width: 8rem;
  padding: 0 1.2rem;
  height: 4.8rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid #1c1d1f;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: bottom;
  white-space: nowrap;
  cursor: pointer;
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: #1c1d1f;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.8rem;
  margin: 0.8rem 1.6rem;
  padding: 0 1.6rem;
  min-width: 14rem;
  min-height: 4rem;
}
.drawer__btn-language:hover {
  background-color: rgba(255, 255, 255, 0.08);
}
.drawer__btn-language:hover {
  background-color: rgba(28, 29, 31, 0.04);
}
.drawer__level-2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  transform: translateX(150%);
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  transition: 0.3s;
}
.drawer__level-2.show {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
.drawer__level-2-list {
  list-style: none;
}
.drawer__level-2--btn {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.6rem;
  padding: 1.6rem;
}
.drawer__close {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  position: fixed;
  top: 0;
  right: auto;
  bottom: auto;
  left: 28rem;
  z-index: 9999;
  margin: 16px;
  width: 48px;
  height: 48px;
  font-size: 18px;
  border-radius: 9999px;
  opacity: 0;
  transform: scale(0);
  transition: 0.3s;
  transition-delay: 0.1s;
}
.drawer__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  background: rgba(28, 29, 31, 0.8);
  transition: 0.2s;
  cursor: pointer;
}
.drawer.overflow .drawer__side {
  transition: 0.3s;
  overflow: hidden;
}
.drawer.show .drawer__side-wrapper {
  transform: translateX(0);
  transition: 0.3s;
}
.drawer.show .drawer__close {
  transform: scale(1);
  opacity: 1;
}
.drawer.show .drawer__overlay {
  opacity: 1;
  visibility: visible;
}
.drawer.no-login .drawer__user {
  display: none;
}
.drawer.no-login .drawer__btn {
  display: block;
}
.drawer ::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.popover {
  position: absolute;
  top: auto;
  right: 3.4rem;
  bottom: auto;
  left: auto;
  z-index: 1;
  width: 34rem;
  box-shadow: 0 0 0 1px #d1d7dc, 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  display: none;
  animation: fadeIn 0.2s;
  z-index: 9;
  height: max-content;
  padding-top: 10px;
}
.popover.show {
  display: block;
}
@media (max-width: 768px) {
  .popover {
    display: none !important;
  }
}
.popover::after {
  position: absolute;
  top: 0;
  right: 100%;
  bottom: auto;
  left: auto;
  z-index: 1;
  content: "";
  display: block;
  width: 3.2rem;
  height: 100%;
}
@media (max-width: 576px) {
  .popover {
    display: none;
  }
}
.popover--desc {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: #1c1d1f;
}
.popover--heading {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #5624d0;
  background-color: transparent;
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #1c1d1f;
}
.popover--heading:hover {
  color: #401b9c;
}
.popover__container {
  padding: 2.4rem;
}
.popover__container::before {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 0;
  z-index: 1;
  content: "";
  display: block;
  height: 2.26rem;
  width: 2.26rem;
  transform: translateY(-50%);
  background-color: #ffffff;
  z-index: 10;
}
.popover__container::after {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 0;
  z-index: 1;
  content: "";
  display: block;
  height: 2.26rem;
  width: 2.26rem;
  transform: translate(-50%, -50%) scaleY(0.5) rotate(45deg);
  border: 1px solid #d1d7dc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  z-index: 8;
}
.popover.right .popover__container::before {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: auto;
  left: auto;
  z-index: 2;
}
.popover.right .popover__container::after {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: auto;
  left: auto;
  z-index: 1;
  transform: translate(50%, -50%) scaleY(0.5) rotate(-45deg);
}
.popover__course-badge {
  margin-top: 0.8rem;
}
.popover__course-update {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: #1e6055;
}
.popover__course-what-learn-list {
  margin-top: 0.8rem;
  list-style: none;
}
.popover__course-what-learn-item {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: #1c1d1f;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 0;
  padding: 0.4rem 0;
}
.popover__course-what-learn-item span {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.popover__course-what-learn-item::before {
  content: "\f633";
  font-family: "bootstrap-icons";
  margin-right: 1.6rem;
}
.popover__course-btn-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
  margin-top: 1.6rem;
}
.popover__course-btn-add {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  min-width: 8rem;
  padding: 0 1.2rem;
  height: 4.8rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #a435f0;
  border: 1px solid #a435f0;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: bottom;
  white-space: nowrap;
  cursor: pointer;
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  flex: 1;
}
.popover__course-btn-add:hover {
  background-color: #8710d8;
}
.popover__course-btn-like {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #1c1d1f;
  min-width: 8rem;
  padding: 0 1.2rem;
  height: 4.8rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid #1c1d1f;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: bottom;
  white-space: nowrap;
  cursor: pointer;
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #1c1d1f;
  min-width: 4.8rem;
  font-size: 2rem;
}
.popover__course-btn-like:hover {
  background-color: rgba(255, 255, 255, 0.08);
}
.popover__course-btn-like:hover {
  background-color: rgba(28, 29, 31, 0.04);
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
}
.modal.show {
  opacity: 1;
  visibility: visible;
}
.modal__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  min-height: 100%;
  position: relative;
}
.modal__content {
  margin: 10vh 0;
  max-width: 60rem;
  width: 100%;
  background-color: #ffffff;
  padding: 2.4rem;
  position: relative;
  z-index: 999999;
  transform: scale(0.8);
  transition: 0.2s;
}
@media (max-width: 576px) {
  .modal__content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    margin: 0;
    max-width: 100%;
    overflow-y: auto;
  }
}
.modal__content--heading {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #1c1d1f;
  padding-bottom: 2.4rem;
}
.modal__content--text {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: #1c1d1f;
}
.modal.show .modal__content {
  transform: scale(1);
}
.modal__row {
  width: 100%;
  height: 4.8rem;
}
.modal__btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  bottom: auto;
  left: auto;
  z-index: 1;
  padding: 0.8rem;
  font-size: 2.4rem;
  color: #1c1d1f;
  background-color: transparent;
}
.modal__footer {
  display: flex;
  justify-content: end;
  align-items: stretch;
  gap: 1.6rem;
  margin-top: 3.2rem;
  background-color: #ffffff;
}
@media (max-width: 576px) {
  .modal__footer.fixed {
    position: fixed;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    margin: 0;
    padding: 1.6rem;
    max-width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.08), 0 -4px 12px rgba(0, 0, 0, 0.08);
    overflow-y: auto;
  }
}
.modal__btn-cancel {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #1c1d1f;
  background-color: transparent;
}
.modal__btn-text {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  min-width: 8rem;
  padding: 0 1.2rem;
  height: 4.8rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid #1c1d1f;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: bottom;
  white-space: nowrap;
  cursor: pointer;
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #1c1d1f;
  border-color: transparent;
}
.modal__btn-text:hover {
  background-color: rgba(255, 255, 255, 0.08);
}
.modal__btn-text:hover {
  background-color: rgba(28, 29, 31, 0.04);
}
.modal__btn-submit {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  min-width: 8rem;
  padding: 0 1.2rem;
  height: 4.8rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1d1f;
  border: 1px solid #1c1d1f;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: bottom;
  white-space: nowrap;
  cursor: pointer;
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
}
.modal__btn-submit:hover {
  background-color: rgba(28, 29, 31, 0.04);
}
.modal__btn-submit:hover {
  background-color: #393b3f;
}
.modal__btn-submit:disabled {
  background-color: #3e4143;
}
.modal__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(28, 29, 31, 0.6);
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
}
.modal.show .modal__overlay {
  opacity: 1;
  visibility: visible;
}

.language-list {
  max-height: 26rem;
  display: flex;
  flex-flow: column wrap;
}
@media (max-width: 576px) {
  .language-list {
    max-height: none;
    flex-flow: column;
  }
}
.language-list--heading {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #1c1d1f;
  padding-bottom: 2.4rem;
  text-align: left;
}
.language-list__drawer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 2.4rem;
  background-color: #ffffff;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  transform: translateX(150%);
  opacity: 0;
  transition: 0.3s;
}
.language-list__drawer.show {
  transform: translateX(0);
  opacity: 1;
}
.language-list__button {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #1c1d1f;
  min-width: 8rem;
  padding: 0 1.2rem;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid #ffffff;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: bottom;
  white-space: nowrap;
  cursor: pointer;
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: #1c1d1f;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0;
  padding-left: 1.6rem;
}
.language-list__button:hover {
  background-color: rgba(255, 255, 255, 0.08);
}
.language-list__button:hover {
  color: #401b9c;
}
.language-list__button.active {
  border-color: #1c1d1f;
}

.main {
  padding: 4.8rem 2.4rem;
}
@media (max-width: 768px) {
  .main {
    padding: 3.2rem 1.6rem;
  }
}
@media (max-width: 576px) {
  .main {
    padding: 2.4rem 1.6rem;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 7.2rem;
  padding: 0 2.4rem;
  background-color: #ffffff;
  position: relative;
  z-index: 99;
}
@media (max-width: 768px) {
  .header {
    padding: 0;
  }
}
.header--text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: #1c1d1f;
  height: 100%;
  cursor: pointer;
}
.header--text span {
  display: inline-block;
}
.header__wrapper {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 0;
  flex-direction: column;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
}
.header__logo {
  width: 16rem;
}
@media (max-width: 992px) {
  .header__logo {
    width: 14rem;
  }
}
@media (max-width: 768px) {
  .header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    flex: 1;
  }
}
.header__logo img {
  width: 100%;
}
@media (max-width: 768px) {
  .header__logo img {
    width: 16rem;
  }
}
.header__logo .header__icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.header__search {
  flex: 1;
  position: relative;
  background-color: transparent;
}
@media (max-width: 768px) {
  .header__search {
    display: none;
    flex: 0;
    flex-basis: 4.8rem;
    justify-content: center;
  }
}
.header__search.mobile {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  padding: 0;
  background-color: #ffffff;
  cursor: default;
  display: block;
}
.header__search.mobile.show {
  display: block;
}
.header__search-icon {
  position: absolute;
  top: 50%;
  left: 3rem;
  transform: translateY(-50%);
  color: #6a6f73;
  cursor: not-allowed;
}
@media (max-width: 768px) {
  .header__search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    height: 100%;
    left: 1rem;
    font-size: 2rem;
    padding: 1.2rem;
    color: #1c1d1f;
    cursor: pointer;
  }
  .header__search-icon:hover {
    color: #5624d0;
  }
}
.header__search.mobile .header__search-icon {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  transform: translateY(0);
  pointer-events: none;
  color: #6a6f73;
}
.header__search-input {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: #1c1d1f;
  width: 100%;
  border-radius: 100rem;
  padding: 1.4rem;
  padding-left: 4.8rem;
  border: 1px solid #1c1d1f;
  background-color: transparent;
  outline: none;
}
@media (max-width: 768px) {
  .header__search-input {
    display: none;
  }
}
.header__search.mobile .header__search-input {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: #1c1d1f;
  height: 100%;
  border: 0;
  padding: 0 0.4rem;
  outline: none;
  flex: 1;
  display: block;
}
.header__search-form {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0;
  flex-direction: column;
  width: 100%;
}
.header__search.mobile .header__search-form {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0;
  flex-direction: row;
}
.header__search.mobile .header__search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: #6a6f73;
  width: 100%;
  height: 5.4rem;
  padding: 0.4rem;
  border-bottom: 1px solid #d1d7dc;
}
.header__search-glass {
  padding: 0 1.2rem;
  order: -1;
  cursor: not-allowed;
}
.header__search-close {
  padding: 0 1.2rem;
  color: #1c1d1f;
  display: none;
}
.header__search.mobile .header__search-close {
  display: block;
}
.header__search-close .header__search-icon {
  font-size: 2.2rem;
  color: inherit !important;
}
.header__search-glass, .header__search-close {
  height: 100%;
  background-color: transparent;
}
.header__search-input:valid ~ .header__search-glass i {
  color: #1c1d1f;
}
.header__search-result {
  position: absolute;
  top: calc(100% - 1.2rem);
  right: auto;
  bottom: auto;
  left: 0;
  z-index: 1;
  width: 100%;
  margin-top: 0.4rem;
  padding: 0.8rem 0;
  border: 1px solid #d1d7dc;
  background-color: #ffffff;
  overflow: hidden;
  display: none;
}
.header__search-result.show {
  display: block;
}
.header__search.mobile .header__search-result {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  border-right: 0;
  border-left: 0;
}
.header__search-list {
  list-style: none;
}
.header__search-list .header__search--icon {
  margin-left: 0.4rem;
  margin-right: 3rem;
}
.header__search-item {
  padding-left: 1.2rem;
  padding-right: 0.8rem;
}
.header__search-item.hide {
  display: none;
}
.header__search-item:hover {
  background-color: #f7f9fa;
}
.header__search-item--content {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  min-height: 3.2rem;
  height: 100%;
}
.header__search-item--image {
  width: 3.2rem;
  height: 3.2rem;
  margin-right: 1.6rem;
}
.header__search-item--name {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #1c1d1f;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.header__search-item--details {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.8rem;
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: #6a6f73;
  margin-top: 0.4rem;
}
.header__search.mobile .header__search-item--content {
  gap: 0;
}
.header__search-link {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0;
  padding: 0.8rem 0;
}
.header__search-link .header__search-icon {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  transform: translateY(0);
}
.header__popper-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding: 0 1.2rem;
  position: relative;
  height: 100%;
  cursor: pointer;
}
@media (max-width: 824px) {
  .header__popper-parent {
    padding: 0 0.6rem;
  }
}
@media (max-width: 768px) {
  .header__popper-parent {
    padding: 0 1.2rem;
  }
}
.header__popper-parent:hover .header__popper {
  display: block;
}
.header__popper-parent:hover .header__category-master {
  display: flex;
  align-items: start;
}
.header__popper-parent:hover .header--text {
  color: #5624d0;
}
.header__popper {
  position: absolute;
  top: 7.6rem;
  z-index: 2;
  padding: 2.4rem 1.6rem;
  background-color: #ffffff;
  box-shadow: 0 0 0 1px #d1d7dc, 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  display: none;
  animation: fadeIn 0.2s forwards;
}
.header__popper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 16px;
  top: 0;
  left: 0;
  transform: translateY(-50%);
}
.header__popper--left {
  width: 26rem;
  left: 0;
}
.header__popper--right {
  width: 28.8rem;
  right: 0;
  text-align: center;
}
.header__popper--btn {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #f7f9fa;
  min-width: 8rem;
  padding: 0 1.2rem;
  height: 4.8rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1d1f;
  border: 1px solid #ffffff;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: bottom;
  white-space: nowrap;
  cursor: pointer;
  margin-top: 1.6rem;
  width: 100%;
}
.header__popper--btn-color {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #5624d0;
  min-width: 8rem;
  padding: 0 1.2rem;
  height: 4.8rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid #ffffff;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: bottom;
  white-space: nowrap;
  cursor: pointer;
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #5624d0;
}
.header__popper--btn-color:hover {
  background-color: rgba(255, 255, 255, 0.08);
}
.header__popper-item, .header__popper-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  width: 100%;
}
.header__popper-item-img {
  width: 6.4rem;
  height: 6.4rem;
  overflow: hidden;
  position: relative;
}
.header__popper-item-img img {
  position: absolute;
  top: 0;
  left: 50%;
  width: auto;
  max-width: none;
  height: 100%;
  transform: translateX(-50%);
}
.header__popper-item-content {
  padding: 0 0.8rem;
  width: 19.2rem;
  text-align: left;
}
.header__popper-item-content h5,
.header__popper-item-content p {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #1c1d1f;
  font-size: 1.4rem;
}
.header__popper-item-content h5 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.header__popper-item-content p {
  margin-top: 4px;
  color: #5624d0;
}
@media (max-width: 1200px) {
  .header__business {
    display: none;
  }
}
@media (max-width: 992px) {
  .header__teach, .header__wishlist, .header__notify {
    display: none;
  }
}
.header__category-link p, .header__popper-link {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: #1c1d1f;
}
.header__category-link p:hover, .header__popper-link:hover {
  color: #5624d0;
}
@media (max-width: 768px) {
  .header__learning, .header__profile, .header__category {
    display: none;
  }
}
.header__icon:hover {
  color: #5624d0;
}
.header__wishlist i, .header__cart i, .header__notify i {
  font-size: 24px;
}
.header__cart .header__icon {
  position: relative;
}
.header__cart-quantity {
  position: absolute;
  top: -6px;
  right: -3px;
  width: 1.6rem;
  height: 1.6rem;
  padding: 0.4rem 0.8rem;
  border-radius: 100rem;
  background-color: #a435f0;
  color: #ffffff;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__cart-btn * {
  display: none;
}
.header__cart-btn.empty .header__cart-btn--more {
  display: flex;
}
.header__cart-btn.no-empty .header__cart-btn--cart {
  display: flex;
}
.header__category .header__popper {
  padding: 0;
  display: none;
}
.header__category-list {
  list-style: none;
  padding: 24px 16px;
  position: relative;
  width: 26rem;
  min-height: 54rem;
}
.header__category-list::after {
  content: "";
  position: absolute;
  top: 0;
  right: -1.2rem;
  width: 2.4rem;
  height: 100%;
  background-color: transparent;
}
.header__category-item {
  padding: 0.8rem 1.6rem;
}
.header__category-master {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.header__category-one.show {
  display: block;
}
.header__category-two, .header__category-three {
  display: none;
  border-left: 1px solid #d1d7dc;
}
.header__category-two.show, .header__category-three.show {
  display: block;
}
.header__category-three {
  width: 26rem;
  min-height: 54rem;
}
.header__category-three--heading {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #6a6f73;
  padding: 2.9rem 3.2rem 0;
  margin-bottom: -1.4rem;
}
.header__category-three .header__category-list {
  min-height: auto;
}
.header__profile-line {
  position: relative;
  padding-bottom: 1.6rem;
}
.header__profile-line::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -1.6rem;
  width: calc(100% + 3.2rem);
  height: 0.8px;
  background-color: #d1d7dc;
}
.header__profile-avatar span, .header__profile-user {
  width: 3.2rem;
  height: 3.2rem;
  overflow: hidden;
}
.header__profile-avatar span img, .header__profile-user img {
  width: 100%;
  height: 100%;
  border-radius: 9999rem;
  border: 1px solid #d1d7dc;
}
.header__profile-avatar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  height: 100%;
  cursor: pointer;
}
.header__profile-user {
  width: 6.4rem;
  height: 6.4rem;
}
.header__profile-contact {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 0;
  flex-direction: column;
  flex: 1;
  margin-left: 1.6rem;
}
.header__profile-contact--name {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #1c1d1f;
  background-color: transparent;
  font-size: 1.6rem;
}
.header__profile-contact--name:hover {
  color: #401b9c;
}
.header__profile-contact--email {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: #6a6f73;
}
.header__profile-list .header__popper-item {
  padding-top: 1.6rem;
}
.header__profile-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  background-color: #a435f0;
  min-width: 2.2rem;
  min-height: 2.2rem;
  border-radius: 999px;
  font-weight: 700;
  font-size: 1.2rem;
  color: #ffffff;
}
.header__profile-language {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: #1c1d1f;
  cursor: pointer;
}
.header__profile-business {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 0;
  cursor: pointer;
}
.header__profile-business a {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 0;
  flex-direction: column;
}
.header__profile-business a span {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #1c1d1f;
}
.header__profile-business a:hover span {
  color: #5624d0;
}
.header__profile-business a:hover p {
  color: #1c1d1f;
}
.header__group-btn a,
.header__group-btn button {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: none;
}
.header__btn-login, .header__btn-language {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #1c1d1f;
  min-width: 8rem;
  padding: 0 1.2rem;
  height: 4rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid #1c1d1f;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: bottom;
  white-space: nowrap;
  cursor: pointer;
}
.header__btn-login:hover, .header__btn-language:hover {
  background-color: rgba(255, 255, 255, 0.08);
}
.header__btn-login:hover, .header__btn-language:hover {
  background-color: rgba(28, 29, 31, 0.04);
}
.header__btn-sign-up {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  min-width: 8rem;
  padding: 0 1.2rem;
  height: 4rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1d1f;
  border: 1px solid #1c1d1f;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: bottom;
  white-space: nowrap;
  cursor: pointer;
}
.header__btn-sign-up:hover {
  background-color: rgba(28, 29, 31, 0.04);
}
.header__btn-sign-up:hover {
  background-color: rgba(28, 29, 31, 0.9);
}
.header__btn-language {
  min-width: 4rem;
}
.header__category-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.header__category-link i {
  font-size: 12px;
}
.header__cart-list {
  margin-bottom: 1.6rem;
}
.header__cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.header__popper-item-content .header__cart-item--author {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: #1c1d1f;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.header__popper-item-content .header__cart-item-price p {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #1c1d1f;
}
.header__cart-total, .header__cart-total-price, .header__cart-item-price {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.8rem;
}
.header__cart-total {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #1c1d1f;
  padding-top: 1.6rem;
  position: relative;
}
.header__cart-total::after {
  content: "";
  position: absolute;
  top: 0;
  left: -1.6rem;
  width: calc(100% + 3.2rem);
  height: 0.8px;
  background-color: #d1d7dc;
}
.header__cart-item-price--origin {
  font-size: 1.2rem !important;
  font-weight: 400 !important;
  text-decoration: line-through;
}
.header__cart-total-price--origin {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: #1c1d1f;
  text-decoration: line-through;
}
.header__notify-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.header__notify-top h4 {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #1c1d1f;
}
.header__notify-top p {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #5624d0;
}
.header__notify-no-alert {
  margin-top: 2.4rem;
}
.header__fixed {
  height: 8rem;
  background-color: #1c1d1f;
  color: #ffffff;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  padding: 1.6rem 2.4rem;
}
@media (max-width: 1080px) {
  .header__fixed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    top: auto;
    bottom: 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.08), 0 -4px 12px rgba(0, 0, 0, 0.16);
  }
}
@media (max-width: 423px) {
  .header__fixed {
    padding: 0.8rem 1.6rem;
  }
}
.header__fixed--heading {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  padding-bottom: 0.5rem;
}
@media (max-width: 576px) {
  .header__fixed {
    background-color: #ffffff;
  }
}
.header__fixed-content {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 0;
  flex-direction: column;
}
@media (max-width: 576px) {
  .header__fixed-content {
    display: none;
  }
}
.header__fixed-information {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.8rem;
}
.header__fixed-rate {
  color: #f3ca8c;
}
.header__fixed-rate span {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: inherit;
  font-weight: 700;
}
.header__fixed-rate i {
  font-size: 1.2rem;
}
.header__fixed-rate a {
  color: #cec0fc;
  font-size: 1.4rem;
  text-decoration: underline;
}
@media (max-width: 576px) {
  .header__fixed-rate a {
    color: #5624d0;
  }
}
.header__fixed-quantity {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: #ffffff;
}
.header__fixed-buy {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.6rem;
  display: none;
}
@media (max-width: 1080px) {
  .header__fixed-buy {
    display: flex;
  }
}
@media (max-width: 576px) {
  .header__fixed-buy {
    width: 100%;
  }
}
.header__fixed-buy--price {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
}
@media (max-width: 576px) {
  .header__fixed-buy--price {
    font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.25;
    letter-spacing: -0.05rem;
    color: #1c1d1f;
  }
}
.header__fixed-buy--btn {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #1c1d1f;
  min-width: 8rem;
  padding: 0 1.2rem;
  height: 4.8rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: bottom;
  white-space: nowrap;
  cursor: pointer;
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #1c1d1f;
}
@media (max-width: 576px) {
  .header__fixed-buy--btn {
    font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 700;
    font-size: 1.9rem;
    line-height: 1.2;
    letter-spacing: -0.02rem;
    color: #ffffff;
    min-width: 8rem;
    padding: 0 1.2rem;
    height: 4.8rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #1c1d1f;
    border: 1px solid #ffffff;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: bottom;
    white-space: nowrap;
    cursor: pointer;
    flex: 1;
  }
}
.header__floating {
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  height: 4rem;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  transform: translateY(-100%);
  transition: 0.3s;
}
@media (max-width: 576px) {
  .header__floating.show {
    transform: translateY(0%);
  }
}
.header__floating-btn {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #5624d0;
  background-color: transparent;
  font-size: 1.2rem;
}
.header__floating-btn:hover {
  color: #401b9c;
}
.header__menu {
  display: none;
  font-size: 3.6rem;
  cursor: pointer;
}
@media (max-width: 768px) {
  .header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    padding: 0 12px;
  }
}
.header.no-login .header__group-btn {
  display: block;
  padding: 1.2rem;
}
@media (max-width: 824px) {
  .header.no-login .header__group-btn {
    padding: 1.2rem 0.6rem;
  }
}
@media (max-width: 768px) {
  .header.no-login .header__group-btn {
    display: none;
  }
}
.header__group-btn, .header.no-login .header__wishlist, .header.no-login .header__learning, .header.no-login .header__notify, .header.no-login .header__profile {
  display: none;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 4.8rem;
  border-top: 1px solid #d1d7dc;
  background-color: #ffffff;
  position: relative;
  z-index: 9;
}
@media (max-width: 768px) {
  .navigation {
    display: none;
  }
}
.navigation__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.navigation__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  list-style: none;
  overflow: hidden;
}
.navigation__item {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0;
  height: 100%;
}
.navigation__item, .navigation__popper-item {
  padding: 0.8rem 1.6rem;
  cursor: pointer;
}
.navigation__item:hover .navigation__link {
  color: #5624d0;
}
.navigation__item:hover .navigation__link::after, .navigation__item:hover .navigation__popper-list {
  display: flex;
}
.navigation__link {
  position: relative;
}
.navigation__link::after {
  content: "";
  position: absolute;
  top: calc(2.4rem + 3px);
  left: 50%;
  width: 1.4rem;
  height: 1.4rem;
  transform: translateX(-50%) rotate(45deg);
  background-color: #1c1d1f;
  display: none;
}
.navigation__link, .navigation__popper-link {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: #1c1d1f;
  display: inline-block;
}
.navigation__popper-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  position: absolute;
  top: calc(4.8rem - 1px);
  left: 0;
  width: 100%;
  height: 4.8rem;
  background-color: #1c1d1f;
  display: none;
}
.navigation__popper-list:hover {
  display: flex;
}
.navigation__popper-list::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3.2rem;
  transform: translateY(-50%);
}
.navigation__popper-link {
  color: #ffffff;
}
.navigation__popper-item:hover .navigation__popper-link {
  color: #cec0fc;
}

.footer {
  background-color: #1c1d1f;
}
.footer--heading {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
}
.footer--heading a {
  color: #cec0fc;
}
.footer--heading a:hover {
  text-decoration: underline;
}
.footer--text {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: #ffffff;
}
@media (max-width: 992px) {
  .footer--text {
    margin-top: 0.8rem;
  }
}
.footer__btn {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  min-width: 8rem;
  padding: 0 1.2rem;
  height: 4.8rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid #ffffff;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: bottom;
  white-space: nowrap;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
}
.footer__btn:hover {
  background-color: rgba(255, 255, 255, 0.08);
}
@media (max-width: 992px) {
  .footer__btn {
    margin-top: 1.6rem;
  }
}
.footer__btn-language {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: #ffffff;
  padding-right: 3.2rem;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding: 1.6rem 4.8rem;
  border-bottom: 1px solid #3e4143;
}
@media (max-width: 992px) {
  .footer__row {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 0;
    flex-direction: column;
  }
}
@media (max-width: 475px) {
  .footer__row {
    padding: 1.6rem;
  }
}
@media (max-width: 992px) {
  .footer__text-and-logo {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 0;
    flex-direction: column;
  }
}
.footer__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  width: 14rem;
}
.footer__partner-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.2rem;
}
@media (max-width: 992px) {
  .footer__partner-logos {
    margin: 1.2rem 0;
  }
}
@media (max-width: 768px) {
  .footer__partner-logos {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 0;
    flex-direction: column;
  }
}
.footer__category-wrapper {
  align-items: start;
}
@media (max-width: 992px) {
  .footer__category-wrapper .footer__row {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 0;
    flex-direction: row;
    padding: 1.6rem 0;
  }
}
@media (max-width: 768px) {
  .footer__category-wrapper .footer__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    flex-direction: column;
    padding: 2.4px 0;
  }
}
.footer__category {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 0.8rem;
  flex-direction: column;
  width: 25.6rem;
}
@media (max-width: 1200px) {
  .footer__category {
    width: 22.6rem;
  }
}
@media (max-width: 992px) {
  .footer__category {
    width: 20rem;
  }
}
.footer__category a {
  font-family: "Academy-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: #ffffff;
}
.footer__category a:hover {
  text-decoration: underline;
}
.footer__bottom {
  padding: 3.2rem auto;
}
.footer .border-none {
  border: 0;
}

/*# sourceMappingURL=style.css.map */
