// sass ./pages/my-learning/style.scss ./pages/my-learning/style.css --watch

@import '../../scss/base/base';
@import '../../scss/base/animations';

@import '../../scss/components/card';
@import '../../scss/components/drawer';
@import '../../scss/components/modal';

@import '../../scss/layouts/main';
@import '../../scss/layouts/header';
@import '../../scss/layouts/footer';

.my-learning {
  &--heading-lg {
    @include heading2;
  }

  &--heading-md {
    @include heading3;
  }

  &--heading-sm {
    @include heading5;
  }

  &--text {
    @include textBody1;
  }

  &--text-small {
    @include textBody3($grayColor);
  }

  &__header {
    padding-top: 4.8rem;
    background-color: $blackColor;

    &--heading {
      @include heading1($whiteColor);

      padding-bottom: 2.4rem;
      font-size: 4rem;
    }
  }

  &__container {
    max-width: 101.6rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 2.4rem;

    @include maxWidth($mdLarge) {
      max-width: 77rem;
    }
  }

  &__wrapper {
    padding: 4.8rem 0;
  }

  &__tabs {
    max-width: 101.6rem;
    width: 100%;
    height: 4.8rem;
    overflow: hidden;

    position: relative;

    &.hidden::after {
      display: none;
    }

    &::after {
      @include position($top: 0, $right: 0);
      content: '';
      display: block;
      width: 4.8rem;
      height: 100%;
      background: linear-gradient(to left, #1c1d1f, rgba(28, 29, 31, 0));
      display: none;

      @include maxWidth($small) {
        display: block;
      }
    }

    @include maxWidth($mdLarge) {
      max-width: 77rem;
    }
  }

  &__tabs-container {
    @include dFlex(start, $gap: 1.6rem);

    height: 100%;

    @include maxWidth($mdLarge) {
      overflow-x: auto;
      appearance: none;
      margin-bottom: -2.4rem;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__tab-button {
    @include dFlex(center);
    @include heading4($shadowColor);

    height: 100%;
    background-color: transparent;
    white-space: nowrap;

    &.active {
      color: $whiteColor;
      box-shadow: 0 -6px $lightColor inset;
    }
  }

  &__tab-content {
    display: none;

    &.active {
      display: block;
    }
  }

  // Handle no data
  &__archive.no-data &__archive-container,
  &__my-list.no-data &__my-list-container,
  &__wishlist.no-data &__wishlist-container {
    display: none;
  }

  &__archive-no-data,
  &__my-list-no-data,
  &__wishlist-empty {
    @include dFlexCol(center);

    display: none;
  }

  &__archive.no-data &__archive-no-data,
  &__my-list.no-data &__my-list-no-data,
  &__wishlist.no-data &__wishlist-empty {
    display: flex;
  }

  // All courses
  &__courses {
    @include dFlex(start, start, 1.6rem);

    flex-wrap: wrap;

    @include maxWidth($mdLarge) {
      @include dFlex(center, start, 1.6rem);
    }
  }

  &__card {
    width: 23rem;
    max-width: 37.5rem;
    min-width: 17.3rem;
    margin: 0;
    z-index: auto;

    @include maxWidth($small) {
      width: 230px;
    }

    &--start {
      text-transform: uppercase;
      display: none;
    }

    &.no-percent &--learning {
      display: none;
    }

    &.no-percent &--start {
      display: block;
    }
  }

  &__card-thumbnail-overlay {
    @include dFlex(center);
    @include position($top: 0, $left: 0, $zIndex: 2);

    width: 100%;
    height: 100%;
    background-color: rgba($blackColor, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
  }

  &__card:hover &__card-thumbnail-overlay {
    opacity: 1;
    visibility: visible;
  }

  &__card-thumbnail-overlay-icon {
    @include dFlex(center);

    width: 4.8rem;
    height: 4.8rem;
    font-size: 3.6rem;
    border-radius: 50%;
    background-color: $whiteColor;
    color: $blackColor;
    transform: scale(0.8);
    transition: 0.1s;
  }

  &__card:hover &__card-thumbnail-overlay-icon {
    transform: scale(1);
  }

  &__card-thumbnail-btn-like {
    @include dFlex(center);
    @include position($top: 0, $right: 0, $zIndex: 9);

    width: 4.8rem;
    height: 4.8rem;
    font-size: 2.4rem;
    color: $whiteColor;
    background-color: transparent;

    &--no-like {
      color: $blackColor;
      display: none;
    }

    &.active &--no-like {
      display: block;
    }

    &.active &--like {
      display: none;
    }
  }

  &__card-progress {
    height: 0.24rem;
    width: 100%;
    background-color: $shadowColor;
    margin-top: 0.8rem;
    margin-bottom: 0.4rem;
  }

  &__card-progress-percent {
    height: 100%;
    background-color: $purpleDarkColor;
  }

  &__card-progress-footer {
    @include dFlex($align: start);

    &--text {
      @include textBody3;
    }
  }

  &__card-progress-btn {
    background-color: transparent;
  }

  &__card.no-percent &__card-progress-btn {
    display: none;
  }

  &__card-outline-stars {
    @include dFlex(end);
  }

  &__card-outline-star-icon {
    color: $browMediumColor;
  }

  &__btn-option {
    @include position($top: 0.4rem, $right: 0.4rem, $zIndex: auto);
    background-color: $whiteColor;
  }

  &__btn-option-icon {
    @include dFlex(center);

    width: 3.4rem;
    height: 3.4rem;
    font-size: 2rem;
    background-color: inherit;
    cursor: pointer;
    position: relative;
    z-index: 3;

    &:hover {
      background-color: $whiteHoverColor;
    }
  }

  &__option-popper {
    width: 26rem;
    margin-top: 0.4rem;
    padding: 0;
    top: 100%;
    display: none;
    text-align: left;

    &--md {
      width: 20rem;
    }

    @include maxWidth($small) {
      @include position(fixed, auto, 0, 0, 0, 99999);

      display: block;
      transform: translateY(100%);
      width: 100%;
      transition: 0.2s;
      animation: fadeOn 0.3s forwards;

      @keyframes fadeOn {
        0% {
          bottom: -145px;
        }
        100% {
          bottom: 0;
        }
      }
    }
  }

  &__btn-option.active &__option-popper {
    display: block;

    @include maxWidth($small) {
      transform: translateY(0);
    }
  }

  &__btn-option-overlay {
    @include position(fixed, 0, 0, 0, 0, 9);
    width: 100%;
    height: 100%;
    background-color: rgba($blackColor, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
  }

  &__btn-option.active &__btn-option-overlay {
    @include maxWidth($small) {
      opacity: 1;
      visibility: visible;
    }
  }

  &__btn-option-close {
    @include dFlex(center);
    @include position($top: 0, $right: 1.6rem);

    width: 4.8rem;
    height: 4.8rem;
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 50%;
    font-size: 2.4rem;
    opacity: 0;
    visibility: hidden;
    background-color: $whiteColor;
    transform: translateY(-50%) scale(0.5);
    transition: 0.2s;
    transition-delay: 0.2s;
  }

  &__btn-option.active &__btn-option-close {
    @include maxWidth($small) {
      opacity: 1;
      visibility: visible;
      transform: translateY(-50%) scale(1);
    }
  }

  &__option-heading {
    @include heading5($grayColor);

    padding: 1.6rem 1.6rem 0;
  }

  &__option-list {
    @include dFlexCol(start, start);

    padding: 0.8rem 0;
    border-bottom: 0.08rem solid $shadowColor;

    &:last-child {
      border: 0;
    }
  }

  &__option-item {
    @include dFlex(start, $gap: 1.6rem);

    width: 100%;
    padding: 0.8rem 1.6rem;
    background-color: transparent;
    text-align: left;

    &:hover {
      color: $purpleDarkColor;
    }
  }

  &__option-text {
    @include textOverflowEllipsis(1);
  }

  &__option-icon {
    font-size: 1.8rem;
  }

  &__course-form {
    @include dFlexCol(start, stretch, 1.6rem);
  }

  &__course-form-group {
    @include dFlex(start, stretch);

    min-height: 4.8rem;
    height: 100%;
    position: relative;
  }

  &__course-input,
  &__course-textarea {
    @include textBody1;

    padding: 0 1.6rem;
    padding-right: 5.2rem;
    border: 0.1rem solid $blackColor;
    outline: none;
    flex: 1;
  }

  &__course-textarea {
    padding: 1.6rem;
    padding-right: 5.2rem;
    flex: 1;
  }

  &__course-count-text {
    @include position($top: 0, $right: 0);
    @include textBody1($grayColor);
    @include dFlex(center);

    width: 5.2rem;
    height: 100%;
    cursor: default;
    pointer-events: none;
  }

  &__course-social {
    @include dFlex(center, start, 2.4rem);

    margin-top: 2.4rem;
    height: 100%;
  }

  &__course-social-icon {
    @include dFlex(center);
    @include btnPrimary($color: $blackColor, $borderColor: $blackColor);

    min-width: 4.8rem;
    border-radius: 50%;
    font-size: 2.4rem;
  }

  // My-list
  &__my-list-header {
    margin-bottom: 3.2rem;
  }

  &__my-list-item {
    margin-bottom: 4.8rem;

    &:last-child {
      margin: 0;
    }
  }

  &__my-list-title {
    @include dFlex(start, $gap: 0.8rem);
  }

  &__my-list-header &--text {
    @include textOverflowEllipsis(1);

    padding-top: 1.6rem;
  }

  &__my-list-icon {
    @include dFlex(center);

    padding: 0.2rem;
    height: 100%;
    font-size: 1.8rem;
    background-color: transparent;
  }

  &__my-list-btn-link,
  &__archive-btn-link {
    @include buttonText($underline: 1);
    @include heading4($purpleDarkColor);

    display: inline-block;
    margin-top: 2.4rem;
  }

  &__save-list-label {
    @include dFlex(start, $gap: 0.8rem);

    width: 100%;
    padding: 1.6rem;
    background-color: $lightColor;
    border: 0.1rem solid $shadowColor;
    cursor: pointer;
  }

  &__save-list-checkbox {
    appearance: none;
    position: relative;

    &::before {
      display: block;
      content: '';
      width: 1.6rem;
      height: 1.6rem;
      border: 0.2rem solid $blackColor;
    }

    &:checked::after {
      display: block;
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
      content: '';
      width: 1.6rem;
      height: 1.6rem;
      background: $blackColor url('https://api.iconify.design/material-symbols/check.svg?color=white&width=12')
        no-repeat center center / contain;
    }
  }

  &__save-list-btn {
    @include dFlex(start, $gap: 0.8rem);
    @include buttonText;
    @include heading5($purpleDarkColor);

    margin-top: 1.6rem;
  }

  &__save-list-icon {
    @include dFlex(center);

    font-size: 2rem;
  }

  // wishlist
  &__wishlist-empty-btn {
    @include btnPrimary($blackColor, $whiteColor, $blackColor);
    @include heading4($whiteColor);

    &:hover {
      background-color: $blackLightColor;
    }
  }

  &__search-wishlist {
    @include dFlex(end);

    height: 4rem;
  }

  &__search-wishlist-input {
    @include textBody2;

    height: 100%;
    padding: 1.6rem;
    border: 0.1rem solid $blackColor;
    border-right: 0;
    outline: none;

    @include maxWidth($small) {
      width: 100%;
    }
  }

  &__search-wishlist-btn {
    @include btnPrimary($blackColor, $whiteColor, $blackColor, 4rem);

    min-width: 4rem;

    &:hover {
      background-color: $blackLightColor;
    }
  }

  // Tools
  &__tools &--heading-md {
    padding-top: 3.2rem;
    padding-bottom: 1.6rem;
  }

  &__tools &--text-small {
    padding-top: 0.8rem;
  }

  &__tools &--heading-sm {
    padding-top: 2.4rem;
    padding-bottom: 0.8rem;
  }

  &__tools-btn-primary {
    @include btnPrimary($purpleMediumColor, $whiteColor, $purpleMediumColor);
    @include heading4($whiteColor);

    margin-top: 1.6rem;
  }

  &__tools-icon-plus {
    @include dFlex(center);

    margin-left: 0.4rem;
    font-size: 2rem;
  }

  &__tools-form {
    max-width: 46rem;
    width: 100%;
  }

  &__tools-form-select {
    display: block;
    width: 100%;
    margin-right: 1.6rem;
    margin-bottom: 0.8rem;
    position: relative;

    &::after {
      @include position($top: 50%, $right: 1.6rem);

      content: '';
      display: block;
      background: url('https://api.iconify.design/ic/baseline-keyboard-arrow-down.svg') no-repeat center center /
        contain;
      width: 2.4rem;
      height: 2.4rem;
      pointer-events: none;
      transform: translateY(-50%);
    }
  }

  &__tools-form-select &__tools-form-input {
    width: 100%;
    appearance: none;
    background-color: $whiteColor;
    cursor: pointer;

    &:hover {
      background-color: rgba($blackColor, 0.04);

      @include maxWidth($small) {
        background-color: transparent;
      }
    }
  }

  &__tools-form-input {
    @include textBody1;

    height: 4.8rem;
    padding: 0 1.6rem;
    outline: none;
    border: 0.1rem solid $blackColor;
    border-radius: 0;
  }

  &__tools-form-submit {
    @include btnPrimary($blackColor, $whiteColor, $blackColor);
    @include heading4($whiteColor);

    &:hover {
      background-color: $blackMediumColor;
    }
  }

  &__tools-form-group {
    @include dFlex(start);

    @include maxWidth($small) {
      @include dFlexCol(start, stretch, 0.8rem);
    }
  }

  &__tools--progress-text {
    @include textBody2($grayColor);

    margin-bottom: 1.6rem;
  }

  &__tools-modal-form &__tools-form-input {
    width: 100%;
  }

  &__tools-modal-form-group {
    position: relative;
    margin: 1.6rem 0;
  }

  &__tools-form-label {
    @include dFlex(start, $gap: 0.8rem);

    width: 100%;
    padding-bottom: 0.8rem;
    cursor: pointer;
  }

  &__tools-form-radios &__tools-form-label {
    @include textBody2;

    padding: 0.8rem 0;
  }

  &__tools-form-radio {
    appearance: none;
    position: relative;

    &::before {
      display: block;
      content: '';
      width: 1.6rem;
      height: 1.6rem;
      border-radius: 50%;
      border: 0.2rem solid $blackColor;
    }

    &:checked::after {
      display: block;
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
      content: '';
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 50%;
      background-color: $blackColor;
    }
  }

  &__tools-modal-form &--text-small {
    margin-left: 0.4rem;
  }

  &--text-right {
    flex: 1;
    text-align: end;
  }

  &__tools-form-search {
    padding-left: 3.2rem;
  }

  &__tools-icon-search {
    @include dFlex(center);
    @include position($top: 50%, $left: 0.8rem);

    font-size: 2.2rem;
    transform: translateY(-50%);
  }

  &__tools-form-list,
  &__tools-form-list-sub {
    @include dFlex(start, $gap: 0.8rem);

    flex-wrap: wrap;
  }

  &__tools-form-list-sub {
    margin-top: 1.6rem;
    display: none;

    &.active {
      display: flex;
    }
  }

  &__tools-form-end {
    &.hidden {
      display: none;
    }
  }

  &__tools-form-item &__tools-form-checkbox {
    appearance: none;
  }

  &__tools-form-item &__tools-form-checkbox:checked + &__tools-form-label {
    &::before {
      content: '';
      display: block;
      background: url('https://api.iconify.design/material-symbols/check.svg?color=white') no-repeat center center /
        2rem;
      width: 1.6rem;
      height: 1.6rem;
    }
  }

  &__tools-form-item &__tools-form-checkbox:checked + &__tools-form-label,
  &__tools-form-item &__tools-form-radio:checked + &__tools-form-label {
    color: $whiteColor;
    background-color: $blackColor;
  }

  &__tools-reminder {
    @include dFlex(start, start);

    @include maxWidth($xSmall) {
      @include dFlexCol(start, stretch);
    }
  }

  &__tools-reminder &__tools-form-select {
    margin: 0;
    max-width: 16.6rem;

    @include maxWidth($xSmall) {
      max-width: 100%;
    }
  }

  &__tools-reminder-number {
    width: 8rem !important;
    border-left: 0;
    border-right: 0;

    @include maxWidth($xSmall) {
      width: 100% !important;
      border: 0.1rem solid $blackColor;
      border-top: 0;
      border-bottom: 0;
    }
  }

  &__tools-banner {
    @include dFlex(start, start, 0.8rem);

    padding: 1.6rem;
    margin-bottom: 1.6rem;
    border: 0.1rem solid $shadowColor;
    background-color: $lightColor;

    &--heading {
      @include heading4;
    }
  }

  &__tools-banner-list {
    @include dFlexCol(start, start);

    margin-top: -0.4rem;
  }

  &__tools-banner-text {
    @include dFlex(start, $gap: 0.4rem);
  }

  &__tools-banner-icon {
    @include dFlex(center);

    font-size: 2.4rem;
  }

  &__tools-form-label-lg {
    padding-bottom: 1.6rem;
  }

  &__tools-form-item {
    @include dFlex(start);
  }

  &__tools-form-item &__tools-form-radio {
    appearance: none;
    &::before,
    &:checked::after {
      display: none;
    }
  }

  &__tools-form-item &__tools-form-label {
    @include btnPrimary($color: $blackColor, $borderColor: $blackColor);
    @include heading4;

    border-radius: 9999px;
    min-width: auto;
  }

  &__tools-form-time::after {
    background: url('https://api.iconify.design/ic/outline-schedule.svg') no-repeat center center / contain;
  }

  &__tools-form-date::after {
    background: url('https://api.iconify.design/icon-park-outline/calendar-thirty.svg') no-repeat center center /
      contain;
  }

  &__tools-form-time,
  &__tools-form-date {
    @include textBody1($grayColor);

    min-height: 4.8rem;
    max-width: 18rem;
    width: 100%;
    padding: 0 1.6rem;
    outline: none;
    border-radius: 0;
    border: 0.1rem solid $blackColor;
    appearance: none;
    background-color: $whiteColor;
    position: relative;
    background-image: none;

    &::-webkit-calendar-picker-indicator {
      background: none;
    }

    &::after {
      @include position($top: 50%, $right: 1.6rem);
      content: '';
      width: 2.4rem;
      height: 2.4rem;
      transform: translateY(-50%);
      pointer-events: none;
    }

    @include maxWidth($xSmall) {
      max-width: 100%;
    }
  }

  &__tools-reminder--text-small {
    @include textBody3;

    padding-bottom: 1.6rem;
  }

  &__tools-form-date {
    max-width: 100%;
  }

  &__tools-connect {
    @include dFlex(start, $gap: 1.6rem);

    @include maxWidth($small) {
      @include dFlexCol(start, stretch);
    }
  }

  &__tools-connect-btn {
    @include btnPrimary($borderColor: $blackColor);
    @include heading4;

    margin-bottom: 0.8rem;
  }

  &__tools-connect-icon {
    @include dFlex(center);

    font-size: 2.4rem;
    margin-right: 0.8rem;
  }
}
