// sass ./pages/search/style.scss ./pages/search/style.css --watch

@import '../../scss/base/base';
@import '../../scss/base/animations';

@import '../../scss/components/card';
@import '../../scss/components/slider';
@import '../../scss/components/drawer';

@import '../../scss/layouts/main';
@import '../../scss/layouts/header';
@import '../../scss/layouts/footer';

.search {
  $widthSidebar: 28rem;

  &__header {
    margin-bottom: 2.4rem;

    &--heading-xl {
      @include heading1($fontFamily: 'US');
    }

    &--heading-lg {
      @include heading3;

      a {
        @include buttonText;
        @include heading3($purpleDarkColor);
      }
    }

    &--heading-md {
      @include heading4;

      margin-top: 1.6rem;

      a {
        @include buttonText;
        @include heading4($purpleDarkColor);
      }
    }
  }

  &__header-content {
    margin-top: 1.6rem;
  }

  &__container {
    // overflow-x: hidden;
  }

  &__control {
    @include dFlex;

    height: 6rem;
  }

  &__control-btn {
    @include dFlex(start, $gap: 0.8rem);

    height: 100%;

    @include maxWidth($small) {
      width: 100%;
    }
  }

  &__control-select,
  &__control-btn-filter {
    @include btnPrimary($color: $blackColor, $borderColor: $blackColor);

    height: 100%;
  }

  &__control-btn-filter {
    @include dFlex(start, $gap: 0.8rem);
    @include heading4;
  }

  &__control-btn-icon {
    font-size: 2rem;
  }

  &__control-select {
    @include textBody1;

    display: block;
    min-width: 18rem;
    padding: 2rem 1.6rem 0;
    outline: none;
    appearance: none;

    @include maxWidth($small) {
      width: 100%;
    }
  }

  &__control-form {
    position: relative;
    height: 100%;

    &::after {
      @include position(absolute, 50%, 1.6rem);
      content: '\f078';
      font-family: 'Font Awesome 5 Free';
      font-size: 1.2rem;
      font-weight: 900;
      transform: translateY(-50%);
      pointer-events: none;
    }

    @include maxWidth($small) {
      flex: 1;
    }
  }

  &__control-label {
    @include heading5;

    position: absolute;
    top: 0.8rem;
    left: 1.6rem;
  }

  &__control-clear-filter {
    @include heading4;

    height: 100%;
    background-color: transparent;
    display: none;
  }

  &__control-result {
    @include heading4($grayColor);

    @include maxWidth($large) {
      display: none;
    }
  }

  // Wrapper
  &__wrapper {
    @include dFlex(start, start);

    margin-top: 2.4rem;
    margin-bottom: 4.8rem;
    transition: 0.4s cubic-bezier(0.2, 0, 0.38, 0.9);

    &.extend {
      transform: translateX(-$widthSidebar);
      width: calc(100% + $widthSidebar);
    }

    @include maxWidth($large) {
      width: 100%;

      &.extend {
        transform: none;
        width: 100%;
      }
    }
  }

  // Sidebar
  &__sidebar {
    background-color: $whiteColor;

    @include maxWidth($large) {
      position: absolute;
      padding: 1.6rem;
      visibility: hidden;
      transition: 0.4s;
    }
  }

  &__wrapper.extend &__sidebar {
    @include maxWidth($large) {
      visibility: visible;
    }
  }

  &__sidebar-container {
    width: $widthSidebar;
    padding-right: 4rem;
    max-height: 240rem;
    transition: 0.4s;
    background-color: $whiteColor;
    overflow: hidden;

    @include maxWidth($large) {
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      z-index: 99999;
      padding: 0;
      transform: translateX(100%);
      transition: 0.4s;
    }
  }

  &__wrapper.extend &__sidebar-container {
    transition: 0.3s;

    @include maxWidth($large) {
      transform: translateX(0%);
    }
  }

  &__sidebar-list {
    @include maxWidth($large) {
      overflow-y: scroll;
      height: 100vh;
      padding: 0 16px;
    }
  }

  &__wrapper.extend &__sidebar-container {
    transform: translateX(-28rem);

    @include maxWidth($large) {
      transform: translateX(0);
    }
  }

  &__sidebar-result {
    @include textBody1;

    padding: 1.6rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
    display: none;

    @include maxWidth($large) {
      display: block;
    }
  }

  &__sidebar-close {
    @include dFlex(center);
    @include position(fixed, 0, $right: $widthSidebar, $zIndex: 99999);
    margin: 16px;
    width: 48px;
    height: 48px;
    font-size: 18px;
    border-radius: 9999px;
    opacity: 0;
    transform: scale(0);
    transition: 0.3s;
    transition-delay: 0.1s;
  }

  &__wrapper.extend &__sidebar-close {
    @include maxWidth($large) {
      opacity: 1;
      transform: scale(1);
    }
  }

  &__sidebar-overlay {
    @include position(fixed, 0, 0, 0, 0, $zIndex: 9999);

    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    background: rgba(28, 29, 31, 0.8);
    transition: 0.2s;
    cursor: pointer;
  }

  &__wrapper.extend &__sidebar-overlay {
    @include maxWidth($large) {
      opacity: 1;
      visibility: visible;
    }
  }

  &__panel-module {
    border-top: 0.8px solid $shadowColor;
    border-right: 0;
    border-left: 0;

    @include maxWidth($large) {
      &:first-child {
        border-top: 0;
      }
    }
  }

  &__panel-btn {
    @include dFlex();
    @include heading3;

    width: 100%;
    padding: 1.6rem 0;
    background-color: transparent;
  }

  &__panel-icon {
    font-size: 1.2rem;
    transition: 0.3s;
  }

  &__panel-module.open &__panel-icon {
    transform: rotate(-180deg);
  }

  &__panel-content {
    padding-top: 0.8rem;
    display: none;
  }

  &__panel-content.hidden &__panel-list {
    -webkit-mask-image: linear-gradient(#ffffff, #ffffff, rgba(255, 255, 255, 0));
  }

  &__panel-module.open &__panel-content {
    display: block;
  }

  &__panel-label {
    @include dFlex(start);

    padding: 0.8rem 0;
    cursor: pointer;
    user-select: none;

    &.hidden {
      display: none;
    }
  }

  &__panel-stars {
    @include dFlex(start);

    margin-right: 0.4rem;
  }

  &__panel-radio,
  &__panel-checkbox {
    margin-right: 0.8rem;
  }

  &__panel-radio {
    appearance: none;
    position: relative;

    &::before {
      display: block;
      content: '';
      width: 1.6rem;
      height: 1.6rem;
      border-radius: 50%;
      border: 0.2rem solid $blackColor;
    }

    &:checked::after {
      display: block;
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
      content: '';
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 50%;
      background-color: $blackColor;
    }
  }

  &__panel-checkbox {
    appearance: none;
    position: relative;

    &::before {
      display: block;
      content: '';
      width: 1.6rem;
      height: 1.6rem;
      border: 0.2rem solid $blackColor;
    }

    &:checked::after {
      display: block;
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
      content: url('https://api.iconify.design/material-symbols/check.svg?color=white');
      width: 1.6rem;
      height: 1.6rem;
      background-color: $blackColor;
    }
  }

  &__panel-title,
  &__panel-count {
    @include textBody2;
  }

  &__panel-count {
    margin-left: 0.8rem;
    color: $grayColor;
  }

  &__panel-btn-toggle {
    @include buttonText;
    @include dFlex(start, $gap: 0.8rem);

    margin-bottom: 1.6rem;
    width: 100%;
    height: 4rem;

    &--less {
      display: none;
    }

    &--icon {
      font-size: 1rem;
      transition: 0.3s;
    }

    &.more &--less {
      display: block;
    }

    &.more &--more {
      display: none;
    }

    &.more &--icon {
      transform: rotate(-180deg);
    }
  }

  // Course list
  &__course-list {
    flex: 1;
    width: calc(100% - $widthSidebar);
    transition: 0.3s;
  }

  &__course-item {
    @include dFlex(start);

    border-bottom: 1px solid $shadowColor;
    padding: 1.6rem 0;
    position: relative;

    &:first-child {
      padding-top: 0;
    }
  }

  &__course-module {
    width: 100%;
  }

  &__course-card {
    @include dFlex(start, start, 1.6rem);

    width: 100%;
    position: relative;
  }

  &__course-thumbnail {
    width: 26rem;
    height: 14.5rem;
    background-color: $lightColor;

    @include maxWidth($small) {
      width: 6.4rem;
      height: 6.4rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__course-item .card__content {
    @include position(relative);

    padding: 0;
    padding-right: 9.6rem;
    max-width: 100%;
    transform: translateY(0);
    flex: 1;

    @include maxWidth($small) {
      padding: 0;
    }

    &--heading {
      padding: 0;
    }

    &--price {
      @include position(absolute, 0, 0);

      @include maxWidth($small) {
        @include position(relative);
      }
    }

    &--info {
      padding-top: 0;
    }
  }

  &__course-popper {
    @include position(absolute, auto, auto, calc(100% + 2px), calc(50% - 20rem));

    width: 40rem;
    box-shadow: 0 0 0 1px $shadowColor, 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
    background-color: $whiteColor;
    display: none;
    animation: fadeIn 0.2s;
    z-index: 9;

    &.top {
      top: calc(100% + 2px);
      bottom: auto;

      &::after {
        @include position(absolute, 0, 0, auto, auto);
        transform: translateY(-50%);
      }
    }

    &::after {
      @include position(absolute, auto, auto, 0, 0);
      content: '';
      display: block;
      width: 100%;
      height: 2.4rem;
    }

    @include maxWidth($small) {
      display: none;
    }
  }

  &__course-item:hover &__course-popper {
    display: block;

    @include maxWidth($small) {
      display: none;
    }
  }

  &__course-popper-container {
    padding: 2.4rem;

    &::before {
      @include position(absolute, auto, auto, 0, 50%);
      content: '';
      display: block;
      height: 2.26rem;
      width: 2.26rem;
      transform: translateX(-50%);
      background-color: $whiteColor;
      z-index: 10;
    }

    &::after {
      @include position(absolute, 100%, auto, 0, 50%);
      content: '';
      display: block;
      height: 2.26rem;
      width: 2.26rem;
      transform: translateX(-50%) translateY(-50%) scaleX(0.5) rotate(-45deg);
      border: 1px solid $shadowColor;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
      background-color: $whiteColor;
      z-index: 8;
    }
  }

  &__course-popper.top &__course-popper-container {
    &::before {
      @include position(absolute, 0, auto, auto, 50%, 2);
    }

    &::after {
      @include position(absolute, auto, auto, 100%, 50%, 1);

      transform: translateX(-50%) translateY(50%) scaleX(0.5) rotate(-45deg);
    }
  }

  &__course-what-learn-list {
    margin-top: 0.8rem;
    list-style: none;
  }

  &__course-what-learn-item {
    @include textBody2;
    @include dFlex(start, start);

    span {
      @include textOverflowEllipsis(2);
    }

    padding: 0.4rem 0;

    &::before {
      content: '\F633';
      font-family: 'bootstrap-icons';
      margin-right: 1.6rem;
    }
  }

  &__course-btn-row {
    @include dFlex($gap: 0.8rem);

    margin-top: 1.6rem;
  }

  &__course-btn-add {
    @include btnPrimary($purpleMediumColor, $whiteColor, $purpleMediumColor);
    @include heading4($whiteColor);

    flex: 1;
  }

  &__course-btn-like {
    @include btnPrimary($color: $blackColor, $borderColor: $blackColor);
    @include heading4;

    min-width: 4.8rem;
    font-size: 2rem;
  }

  &__course-slider {
    margin-top: 1.6rem;
  }

  &__related-searches {
    margin-top: 1.6rem;

    &--heading {
      @include dFlex(start, $gap: 0.8rem);
    }
  }

  &__related-searches-list {
    @include dFlex(start, $gap: 0.8rem);

    margin-top: 1.6rem;
    flex-wrap: wrap;
  }

  &__related-searches-link {
    @include dFlex(center);
    @include heading5($whiteColor);

    min-width: 4rem;
    height: 3.4rem;
    padding: 0 1.2rem;
    border-radius: 99999px;
    background-color: $blackColor;
    white-space: nowrap;
  }

  &__pagination {
    @include dFlex(center);

    height: 4rem;
  }

  &__pagination-container,
  &__pagination-page {
    @include dFlex(start, $gap: 0.8rem);
    height: 100%;
  }

  &__pagination-btn,
  &__pagination-page-number {
    width: 4rem;
    height: 100%;
    @include dFlex(center);
  }

  &__pagination-page {
    list-style: none;
    height: 100%;
  }

  &__pagination-btn {
    @include btnPrimary($color: $blackColor, $borderColor: $blackColor);

    min-width: auto;
    height: 4rem;
    padding: 0;
    border-radius: 50%;
    font-size: 1.4rem;

    &.disable {
      cursor: not-allowed;
      color: $grayColor;
      border-color: $grayColor;

      &:hover {
        background-color: $whiteColor;
      }
    }
  }

  &__pagination-page-number {
    @include buttonText;
    @include heading5($purpleDarkColor);

    text-align: center;
    position: relative;
    cursor: pointer;

    &.active {
      pointer-events: none;

      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 1.2rem;
        right: 1.2rem;
        height: 0.25rem;
        background: $purpleHoverColor;
      }
    }
  }
}
