.card {
  @include dFlex;

  min-width: 17.3rem;
  position: relative;
  margin: 0 0.8rem;
  z-index: 0;
  background-color: white;

  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }

  &--ml {
    max-width: calc((100% - (3 - 1) * 1.6rem) / 3);
  }

  &--row {
    @include dFlex(start, $gap: 1.6rem);
    flex-wrap: wrap;
  }

  &--column {
    @include dFlexCol(start, start);
  }

  &--column &__content {
    position: relative;
    top: auto;
    left: auto;
    transform: translateY(0);
    padding: 0;
  }

  &__thumbnail {
    width: 100%;
    overflow: hidden;
    position: relative;

    img {
      display: block;
      width: 100%;
      object-fit: cover;
    }
  }

  &__content {
    @include textBody1;

    width: 100%;
    max-width: 44rem;
    position: absolute;
    top: 50%;
    left: 7.2rem;
    padding: 2.4rem;
    transform: translateY(-50%);
    background-color: $whiteColor;

    &--heading {
      @include heading4($blackMediumColor);
      @include textOverflowEllipsis(2);

      margin-bottom: 0.4rem;
      padding-top: 0.8rem;
    }

    &--desc {
      @include textBody2;
      @include textOverflowEllipsis(3);
    }

    &--text {
      @include textBody3($grayColor);
      @include textOverflowEllipsis;
    }

    &--number {
      @include heading5($browColor);
    }

    &--price {
      @include heading4;

      margin-bottom: 0.8rem;
    }

    &--info {
      padding: 0.4rem 0;
    }
  }

  &__content-rate {
    @include dFlex(start, $gap: 0.4rem);

    margin: 0.4rem 0;
  }

  &__content-stars {
    font-size: 1.2rem;
    color: $browMediumColor;
  }

  &__popover {
    position: absolute;
    top: 0;
    // right: 100%;
    background-color: red;
  }

  // Badge
  &__badge {
    &--new,
    &--bestseller,
    &--highest-sell {
      @include textBody3;

      font-weight: 700;
      display: inline-block;
      padding: 0.4rem 0.8rem;
      white-space: nowrap;
      color: $browDarkColor;
    }

    &--new {
      color: $greenDark;
      background-color: $greenLight;
    }

    &--bestseller {
      color: $grayDarkColor;
      background-color: $yellowLightColor;
    }

    &--highest-sell {
      color: $browDarkColor;
      background-color: $orangeLightColor;
    }
  }
}
