.language-list {
  max-height: 26rem;
  display: flex;
  flex-flow: column wrap;

  @include maxWidth($small) {
    max-height: none;
    flex-flow: column;
  }

  &--heading {
    @include heading3;

    padding-bottom: 2.4rem;
    text-align: left;
  }

  &__drawer {
    @include position(absolute, 0, 0, 0, 0);

    width: 100%;
    padding: 2.4rem;
    background-color: $whiteColor;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    transform: translateX(150%);
    opacity: 0;
    transition: 0.3s;

    &.show {
      transform: translateX(0);
      opacity: 1;
    }
  }

  &__button {
    @include btnPrimary($color: $blackColor, $height: 40px);
    @include textBody1;
    @include dFlex(start);

    padding-left: 1.6rem;

    &:hover {
      color: $purpleHoverColor;
    }

    &.active {
      border-color: $blackColor;
    }
  }
}
