.popover {
  @include position($right: 3.4rem);

  width: 34rem;
  box-shadow: 0 0 0 1px #d1d7dc, 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  background-color: $whiteColor;
  display: none;
  animation: fadeIn 0.2s;
  z-index: 9;
  height: max-content;
  padding-top: 10px;

  &.show {
    display: block;
  }

  @include maxWidth($medium) {
    display: none !important;
  }

  &::after {
    @include position(absolute, 0, 100%, auto, auto, 1);
    content: '';
    display: block;
    width: 3.2rem;
    height: 100%;
  }

  @include maxWidth($small) {
    display: none;
  }

  &--desc {
    @include textBody2;
  }

  &--heading {
    @include buttonText;
    @include heading3;
  }

  &__container {
    padding: 2.4rem;

    &::before {
      @include position(absolute, 50%, auto, auto, 0);
      content: '';
      display: block;
      height: 2.26rem;
      width: 2.26rem;
      transform: translateY(-50%);
      background-color: $whiteColor;
      z-index: 10;
    }

    &::after {
      @include position(absolute, 50%, auto, auto, 0);
      content: '';
      display: block;
      height: 2.26rem;
      width: 2.26rem;
      transform: translate(-50%, -50%) scaleY(0.5) rotate(45deg);
      border: 1px solid $shadowColor;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
      background-color: $whiteColor;
      z-index: 8;
    }
  }

  &.right &__container {
    &::before {
      @include position(absolute, 50%, 0, auto, auto, 2);
    }

    &::after {
      @include position(absolute, 50%, 0, auto, auto, 1);

      transform: translate(50%, -50%) scaleY(0.5) rotate(-45deg);
    }
  }

  &__course-badge {
    margin-top: 0.8rem;
  }

  &__course-update {
    @include textBody3($greenColor);
  }

  &__course-what-learn-list {
    margin-top: 0.8rem;
    list-style: none;
  }

  &__course-what-learn-item {
    @include textBody2;
    @include dFlex(start, start);

    span {
      @include textOverflowEllipsis(2);
    }

    padding: 0.4rem 0;

    &::before {
      content: '\F633';
      font-family: 'bootstrap-icons';
      margin-right: 1.6rem;
    }
  }

  &__course-btn-row {
    @include dFlex($gap: 0.8rem);

    margin-top: 1.6rem;
  }

  &__course-btn-add {
    @include btnPrimary($purpleMediumColor, $whiteColor, $purpleMediumColor);
    @include heading4($whiteColor);

    flex: 1;
  }

  &__course-btn-like {
    @include btnPrimary($color: $blackColor, $borderColor: $blackColor);
    @include heading4;

    min-width: 4.8rem;
    font-size: 2rem;
  }
}
