// sass ./pages/shopping-cart/style.scss ./pages/shopping-cart/style.css --watch

@import '../../scss/base/base';
@import '../../scss/base/animations';

@import '../../scss/components/card';
@import '../../scss/components/slider';
@import '../../scss/components/drawer';

@import '../../scss/layouts/main';
@import '../../scss/layouts/header';
@import '../../scss/layouts/footer';

.shopping-cart {
  padding: 0 4.8rem;

  @include maxWidth($cartSmall) {
    padding: 0 1.6rem;
  }

  &--heading {
    @include heading1($fontFamily: 'US');

    margin: 3.2rem 0;
    font-size: 4rem;
  }

  &--title {
    @include heading4;

    @include maxWidth($cartSmall) {
      padding-top: 0.8rem;
    }
  }

  &__wrapper {
    @include dFlex($align: start);

    @include maxWidth($large) {
      @include dFlexCol(start, start);

      flex-direction: column-reverse;
    }
  }

  &__left {
    @include maxWidth($exLarge) {
      width: 100%;
    }
  }

  &__list {
    margin-top: 1.8rem;
    list-style: none;
  }

  &__item {
    padding: 16px 0;
    border-top: 1px solid $shadowColor;
  }

  &__link {
    @include dFlex(start, start, 1.6rem);

    @include maxWidth($cartSmall) {
      @include dFlexCol(start, start);
    }
  }

  &__content {
    flex: 1;
    @include dFlex($align: start);

    @include maxWidth($exLarge) {
      @include dFlexCol(start, start);
    }
  }

  &__info {
    flex: 1;

    @include maxWidth($exLarge) {
      @include dFlexCol(start, start);
    }
  }

  &__info &--title {
    @include textOverflowEllipsis(2);
  }

  &__image {
    width: 12rem;
    height: 6.8rem;

    object-fit: cover;

    @include maxWidth($large) {
      width: 4.8rem;
      height: 4.8rem;
    }

    @include maxWidth($cartSmall) {
      width: 100%;
      height: 100%;
    }
  }

  &__author {
    @include textBody3;
    @include textOverflowEllipsis(1);

    margin-top: 0.4rem;
  }

  &__rating {
    @include dFlex(start, $gap: 0.6em);

    margin-top: 0.8rem;

    @include maxWidth($exLarge) {
      @include dFlexCol(start, start, 0.4rem);
    }
  }

  &__meta {
    @include dFlex(start, $gap: 0.4em);
    @include textBody3($grayColor);
  }

  &__group-btn,
  &__price-content {
    @include dFlexCol(start, end);
  }

  &__group-btn {
    @include maxWidth($exLarge) {
      @include dFlexCol(start, start, 1.6rem, row);
    }
  }

  &__btn {
    @include buttonText;

    font-weight: 400;
    padding: 0.6rem 0;
    white-space: nowrap;
  }

  &__price {
    @include dFlex(start, start, 0.4rem);
    padding-left: 4.8rem;

    @include maxWidth($cartSmall) {
      padding: 0;
    }
  }

  &__price-current {
    @include heading4($purpleMediumColor);

    @include maxWidth($cartSmall) {
      @include heading3($purpleMediumColor);
    }
  }

  &__price-old {
    @include textBody2($grayColor);

    @include maxWidth($cartSmall) {
      @include textBody1($grayColor);
    }
  }

  &__offer {
    position: relative;
    cursor: default;
  }

  &__offer:hover &__offer-code {
    display: block;
  }

  &__offer-icon * {
    color: $purpleMediumColor;
  }

  &__offer-code {
    @include textBody2;

    display: none;
    padding: 0.8rem;
    max-width: 24rem;
    width: max-content;
    background-color: $whiteColor;
    border: 1px solid $shadowColor;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
    position: absolute;
    top: -1.2rem;
    right: 1.8rem;
    animation: fadeIn 0.2s;

    @include maxWidth($cartSmall) {
      right: auto;
      left: 1.8rem;
    }
  }

  &__checkout {
    margin-left: 6.4rem;
    max-width: 30rem;
    width: 100%;

    @include maxWidth($large) {
      max-width: 100%;
      margin-bottom: 3.2rem;
      align-self: flex-end;
    }

    &--title {
      @include heading4($grayColor);

      margin-bottom: 0.8rem;
    }

    &--price-current {
      @include heading1($fontFamily: 'US');
    }

    &--price-old {
      @include textBody1($grayColor);

      padding: 0.4rem 0;
    }
  }

  &__checkout-btn {
    button {
      @include btnPrimary($purpleMediumColor, $borderColor: transparent);
      @include heading4($whiteColor);

      width: 100%;
      margin-top: 0.8rem;
    }

    @include maxWidth($large) {
      @include position(fixed, auto, 0, 0, 0, 99);

      padding: 1.6rem 2.4rem;
      background-color: $blackColor;
      box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.08), 0 -4px 12px rgba(0, 0, 0, 0.16);
    }

    @include maxWidth($cartSmall) {
      background-color: $whiteColor;
    }
  }

  &__checkout-total {
    padding-bottom: 1.6rem;
    border-bottom: 1px solid $shadowColor;
  }

  &__checkout-coupon {
    padding-top: 1.6rem;
  }

  &__checkout-code {
    @include dFlex(start);
    @include textBody2($grayColor);

    padding-top: 1.6rem;
    padding-bottom: 0.8rem;

    button {
      @include dFlex(start);

      margin-right: 0.8rem;
      background-color: transparent;
      font-size: 2rem;
    }
  }

  &__checkout-form {
    @include dFlex(start);

    height: 3.4rem;
  }

  &__checkout-control,
  &__checkout-submit {
    height: 100%;
  }

  &__checkout-control {
    flex: 1;
    outline: none;
    border: 1px solid $blackColor;
    border-right: 0;
    border-radius: 0;
    padding: 0 1.6rem;
  }

  &__checkout-submit {
    @include btnPrimary($purpleMediumColor, $borderColor: $purpleMediumColor);
    @include heading5($whiteColor);

    min-width: 8rem;
    padding: 0;
    height: 100%;
  }

  &__slider {
    margin: 4.8rem 0;
  }
}
